<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="10">
<listeners>
<listener class-name="Testngframew.Listeners"/>
</listeners>

<!--<parameter name="URL" value="QAAcademcy.com"/>-->

  <test name="Personal Loan">
  <parameter name="URL" value="personalloan.com"/>
  <parameter name="key" value="12345"/>
    <classes>
      <class name="Testngframew.Demo1"/>
      <class name="Testngframew.Demo2"/>
    </classes>
    </test> 
    <test name="car Loan">
    <parameter name="URL" value="carloan.com"/>
    <classes>
      <class name="Testngframew.Demo3">
     <methods> <exclude name="Mobilelogincar">
      </exclude>
      </methods>
     </class>
      <class name="Testngframew.Demo4">
      <methods>
      <include name="Mobile.*"></include>
      </methods>
      </class>
    </classes>
    
    
  </test>
</suite> <!-- Suite -->
